defaults:
  - autoencoder: stable_vae
  - backbone: udit
  - _self_

backbone:
  #context_dim: ${..content_dim}
  #ta_context_dim: ${..content_dim}
  embed_dim: 1024
  depth: 24
  num_heads: 16

noise_scheduler_name: "stabilityai/stable-diffusion-2-1"
snr_gamma: 5.0
cfg_drop_ratio: 0.2

_target_: models.diffusion.SingleTaskCrossAttentionAudioDiffusion
content_encoder:
  _target_: models.content_encoder.content_encoder.ContentEncoder
  embed_dim: 1024
  text_encoder: None
  speech_encoder:
    _target_: models.content_encoder.star_encoder.star_encoder.QformerBridgeNet
    load_from_pretrained: /hpc_stor03/sjtu_home/zeyu.xie/workspace/speech2audio/hear/output/qformer_caption_tts_hubert/exp0_best.pt
 