defaults:
  - basic
  - model: flow_matching_base
  - data@data_dict: train_val
  - loss@loss_fn: weighted_sum
  - _self_

exp_name: audiocaps_star_ft_qformer_new
exp_dir: experiments/${exp_name}/
logging_file: ${exp_dir}/train.log

train_dataloader:
  _target_: torchdata.stateful_dataloader.StatefulDataLoader
  dataset:
    _target_: data_module.dataset.TaskGroupedAudioGenConcatDataset
    datasets: ${data_dict.train_data_list}
  sampler:
    _target_: data_module.sampler.TaskIteratingSampler
    shuffle: false
    task_sampling_weights:
      text_to_audio: 2
      text_to_music: 4
      text_to_speech: 3
      audio_super_resolution: 1
      speech_enhancement:  2
      singing_voice_synthesis: 1
      video_to_audio: 5
      speech_to_audio: 1
  batch_size: 24 # per device batch size
  num_workers: 12
  collate_fn:
    _target_: accel_hydra.data_module.collate_function.PaddingCollate
    pad_keys: ["waveform", "duration", "instruction"]
    torchify_keys: ["is_time_aligned"]

val_dataloader:
  _target_: torch.utils.data.DataLoader
  dataset:
    _target_: accel_hydra.data_module.dataset.AudioGenConcatDataset
    datasets: ${data_dict.val_data_list}
  batch_size: 24 # per device batch size
  shuffle: false
  num_workers: 12
  collate_fn:
    _target_: accel_hydra.data_module.collate_function.PaddingCollate
    pad_keys: ["waveform",  "duration", "instruction"]
    torchify_keys: ["is_time_aligned"]

warmup_params:
  warmup_steps: 10000
  warmup_epochs: Null
  epoch_length: ${epoch_length}

gradient_accumulation_steps: 1

optimizer:
  _target_: torch.optim.AdamW
  lr: !!float 5e-5
  weight_decay: 0.01

lr_scheduler:
  _target_: "transformers.get_scheduler"
  # name: "linear"
  name: "constant_with_warmup"

epochs: 150
epoch_length: 2000

trainer:
  _target_: star_trainer.MultiTaskAudioGenerationTrainer
  project_dir: ${exp_dir}
  logging_file: ${logging_file}
  gradient_accumulation_steps: ${gradient_accumulation_steps}
  max_grad_norm: 1.0
  epochs: ${epochs}
  epoch_length: ${epoch_length}
  save_last_k: 2
  early_stop: Null
  logging_config:
    _target_: accel_hydra.trainer.LoggingConfig
    report_to: swanlab
    project: x_to_audio_star
    # project: runs
    save_dir: ${exp_dir}
    name: ${exp_name}
    resume_id: Null
    workspace: assainatee
  metric_monitor:
    _target_: accel_hydra.trainer.MetricMonitor
    metric_name: loss
    mode: min